/* @media (min-width: 320px) {
    .side_nav {
      width: 50px;
    }
  }
  @media (min-width: 481px) {
    .side_nav {
      width: 60px;
    }
  }
  @media (min-width: 641px) {
    .side_nav {
      width: 70px;
    }
  }
  @media (min-width: 961px) {
    .side_nav {
      width: 80px;
    }
  }
  @media (min-width: 1025px) {
    .side_nav {
      width: 90px;
    }
  }
  @media (min-width: 1281px) {
    .side_nav {
      width: 100px;
    }
  } */